/* blocks/popup/_button/popup__button.css */
.popup__button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 14px 0;
  margin-top: 18px;
  border-radius: 2px;
  border: none;
  font-family: 'Inter', Arial, sans-serif;
  font-size: 18px;
  line-height: 22px;
  color: white;
  background-color: #000;
  transition: background-color 0.3s ease, opacity 0.3s ease;
  cursor: pointer;
}

.popup__button:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.popup__button_disabled {
  background-color: #fff;
  color: #c4c4c4;
  border: 1px solid #c4c4c4;
  cursor: default;
  pointer-events: none;
}

@media screen and (max-width: 568px) {
  .popup__button {
    font-size: 14px;
    line-height: 17px;
    margin-top: 15px;
  }
}